.nav {
    background-color: black;
    width: 100%;
    padding: 20%;
    margin: 0%;
}

footer {
    text-align: initial;
    color: white;
    border-color: white;
        p {
            font-size: medium;
        }
}